queues:
  - site_prefix
  - second_site_prefix

redis_url: redis://localhost:6379
namespace: redirus

nginx:
  configs_path: /path/to/dir/with/nginx/configs/
  pid: /path/to/nginx.pid
  http_template: /path/to/http/nginx/config/template
  https_template: /path/to/https/nginx/config/template
  allowed_properties:
    - proxy_sent_timeout \d
    - proxy_read_timeout \d
